@media (max-width: 900px) {
    body {
        background-color: #C5965F;
    }

    header {
        text-align: center;
        color: #fff;
    }

    .conteudo {
        display: grid;
        grid-template-columns: 1fr;
    }

    .principal {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-width: 350px;
    }
}